* {
	padding: 0;
	margin: 0;
}
body {
	background-color: #F7F8FA;
}
main {
	width: 80%;
	margin: 50px auto;
	background: #fff;
	padding: 20px;
	border-radius: 6px;
	/* z-index: -7; */
	position: relative;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.20);
}

.steps-container, .form {
	width: 100%;
	margin: 10px auto;
	border-radius: 4px;
	position: relative;
	z-index: 999999;
	overflow: hidden;
	padding-bottom: 15px;
	margin-bottom: 0px;
}
.form > div:not(:first-of-type){
	display: none;
}
.awesome {
	width: 50%;
	min-height: 400px;
	/* background-color: #333; */
	border-radius: 4px;
	margin: 0 auto;
	text-align: center;
	font-family: 'quicksand';
	margin-top: 30px;
	position: relative;
}
.icon > i {
	color: #7FD3BF;
	font-size: 40px;
	border: 2px solid #7FD3BF;
	height: 80px;
	width: 80px;
	line-height: 80px;
	vertical-align: middle;
	border-radius: 50%;
}
.add {
	margin: 20px auto;
	position: relative;
}
.add h3 {
	color: #333;
	font-size: 30px;
	font-weight: 500;
	margin: 10px;
}
.add p {
	color: #666;
}
.progress {
	width: 80%;
	margin: 0 auto;
	counter-reset: step;
	display: flex;
	justify-content: space-around;
	padding: 10px;
}
.progress li {
	list-style-type: none;
	font-family: 'quicksand';
	width: 33.33%;
	/* border-radius: 50%; */
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	font-weight: 700;
	position: relative;
	/* background: #fff; */
	/* z-index: 4; */
	transition: all .5s ease-in-out;
}
.progress li:before {
	content: counter(step);
	counter-increment: step;
	border-radius: 50%;
	text-align: center;
	width: 40px;
	height: 40px;
	border: 2px solid #999;
	line-height: 40px;
	display: block;
	margin: 0 auto;
	background: #fff;
	/* color: #fff; */
	z-index: 3;
}
.progress li:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #555;
	top: 20px;
	left: -50%;
	z-index: -1;
}
.progress li:first-child:after {
	content: none;
}
.progress li.active {
	color: #fff;
}
.progress li.active:before {
	border-color: #7fd3bf;
	color: #fff;
	background: #7fd3bf;
}
.progress li.active + li:after {
	background-color: #7fd3bf;
}

.setup-btn {
	padding: 5px 40px;
	background-color: #7FD3BF;
	border-radius: 35px;
	outline: none;
	border: 1px solid #7FD3BF;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.20);
	font-size: 18px;
	font-weight: 100;
	color: #fff;
	cursor: pointer;
}

.add form {width: 100%;display: flex;flex-direction: column;z-index: 1;}

.group-control {width: 100%;display: flex;flex-direction: column;text-align: left;margin: 15px 0;}

.form-group {width: 100%;position: relative;}

.form-group input {
	width: 100%;
}
.form-control {position: relative;width: 100%;}

.form-group > label {
    top: -20px;
    background: #fff;
    transition: all 0.2s;
    position: absolute;
    left: 0;
    font-size: 14px;
    font-family: quicksand;
    margin-left: 15px;
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: 600;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 85%;
    color: #dc3545;
}

.invalid-box-shadow {
	box-shadow: 0 0 2px 1px red !important;
}

/* All input type */
textarea, select, .tg-select select, .form-control, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    color: #666;
    outline: none;
    height: 40px;
    /* background: #fff; */
    font-size: 14px;
    line-height: 18px;
    padding: 10px 15px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #2b2f3e4f;
    text-transform: capitalize;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-family: quicksand;
    transition: all .5s;
    text-transform: unset;
}

.site-photo {
	display: flex;
	justify-content: space-between;
	margin: 15px 0px;
	/* line-height: 100px; */
	/* vertical-align: bottom; */
}

/* Modal */

/* Using jquery add class to body to disalbe scrolling bacnground of modal*/

.modal {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	z-index: 999999999999999999999;
	background: #33333369;
	overflow: hidden;
}
.modal-container {
	width: 50%;
	background: #f6f6f6;
	margin: 100px auto;
	padding: 10px 20px;
	border-radius: 5px;
	margin-right: 0px;
}

.login-link {
	text-align: left;
	display: block;
	font-size: 12px;
	margin: 10px 0px;
}
/* Flash Messages */

#flash-msgs {
	font-family: 'quicksand';
	width: 100%;
	margin-bottom: 15px;
	border-radius: 3px;
	border: 1px solid red;
	display: none;
}
#flash-msgs p {
	padding: 10px;
	background: #ff000014;
	color: red;
}