* {
  padding: 0;
  margin: 0;
}

.left-signup {
  background-size: contain;
  max-height: 400px;
  background-position: center;
}
.signup-p {
  border-bottom: none;
}
.signup-p h2 {
  font-family: "Roboto" !important;
  color: #6395fa !important;
  text-align: center;
  font-weight: 600 !important;
  font-size: 20px !important;
}

.signup-p p {
  padding: 20px;
  width: 85%;
  text-align: center;
  margin: 0 auto;
  font: var(--font-quick-500-14);
  font-size: 15px;
  padding-top: 5px;
}
.btn-sign {
  display: flex;
  flex-direction: row;
}
.btn-sign button:first-child {
  margin-left: 35px;
}
.btn-sign button:last-child {
  background: rgba(153, 153, 153, 0.356);
  color: #444;
  margin-left: 0px;
}
.btn-sign button {
  border-radius: 35px;
  padding: 0 50px;
}
