:root {
	--green: #00cc67;
	--dark-font: #363b4d;
	--hover-dark-font: #333848;
	--light-green: rgba(0, 204,103,0.50);
	--back-light-green: #00cc67;
	--light-dark: #666666;
	--light-blue: #55acee;
	/* Precaution background Color */
	--nature-friendly: #A5D6A7;
	--proceed-with-caution: #FFAB91;
	--dispose-properly: #80CBC4;
	--biohazard: #ef9a9a;
	/* Precaution label background Color */
	--nature-friendly-label: #1B5E20;
	--proceed-with-caution-label: #BF360C;
	--dispose-properly-label: #004D40;
	--biohazard-label: #b71c1c;

	--box-shadow: 2px 0 15px 0 rgba(0,0,0,0.20);
	--border: 1px solid #d5d5d5;
	--border-2px: 2px solid #d5d5d5;
	--font-quick-400-30: normal normal 400 30px/23px 'Quicksand', sans-serif;
	--font-quick-500-20: normal normal 500 20px/20px 'Quicksand', sans-serif;
	--font-quick-500-18: normal normal 500 18px/14px 'Quicksand', sans-serif;
	--font-quick-500-16: normal normal 500 16px/46px 'Quicksand', sans-serif;
	--font-quick-500-14: normal normal 500 14px/14px 'Quicksand', sans-serif;
	--font-quick-400-13: normal normal 400 13px/16px 'Quicksand', sans-serif;
	--font-normal: 'Quicksand', sans-serif;
}
/*::-webkit-scrollbar {
   width: 7px;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: --webkit-gradient(linear,left top,left bottom,from(#999),to(#999));
  box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(0,0,0,.25);
  }
 
::-webkit-scrollbar-track {
  background-color: #fff;
  background: linear-gradient(to right,#1d1b1b3d,#56505014 1px,#9a999c29 1px,#91919236);
  /*background: linear-gradient(to right,#201c29,#201c29 1px,#100e17 1px,#100e17);*/
}*/